{% extends "base.html" %}
{% block content %}
<div class="hometext">
	<div class="row">
	    <div class="col-sm-12">
	    	My name is Troy and I am currently a Mechanical Engineer in the SF Bay Area.  I was introduced to coding by my father when I was very young.  I wrote my first program for the Commodore 64 when I was 9.  I have tinkered with programming ever since and write macros in VBA to make my work life easier.  My goal is to use the Udacity Nanodegree courses to learn different languages and eventually change my career path.
	    </div>
	</div>    
	<div class="row">
	    <div class="col-sm-12" style="margin-top: 50px">
	    	I can be reached at stbraswell@gmail.com, if you have any questions.
	    </div>
	</div>
	
</div>
{% endblock %}