<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Troy's Notes</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Style/troy-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
  {% block troy %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <h2 id="reflinks" style="border-radius: inherit; margin: 10px; width: 871px">Reference Links</h2>
  <div class= "lesson" style="font-size: small">
    <div class="col-sm-3">
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/html/Reference" target="_blank">HTML Reference</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">CSS Reference</a></li>
        <li><a href="http://www.color-hex.com/" target="_blank">Color Codes</a></li>
      </ul>
    </div>  
    <div class="col-sm-3">
      <ul>
        <li><a href="http://assignments.udacity-extras.appspot.com/courses/html-css/index.html" target="blank">Udacity Sample Pages and Assets</a></li>
        <li><a href="http://www.sitepoint.com/web-foundations/vendor-specific-properties/" target="blank">Vendor-specific Properties</a></li>
        <li><a href="http://learn-2-code.appspot.com/additional_resources/#topic-1" target="_blank">Andy's Additional Resources</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="http://www.w3schools.com/bootstrap/default.asp" target="blank">Bootstrap Reference</a></li>
        <li><a href="http://validator.w3.org/#validate_by_input" target="_blank">HTML Validation</a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/#validate_by_input" target="_blank">CSS Validation</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="http://www.tutorialspoint.com/python/index.htm" target="_blank">Python Resource</a></li>
        <li><a href="https://www.udacity.com/course/viewer#!/c-none/l-300029886/e-299271807/m-299271808" target="_blank">Udacity Code Playground</a></li>
      </ul>
    </div>
    <br style="clear:both;"/>
  </div>
<!--<h2 id="refvideos">Reference Videos</h2>
  <div class="lesson">
    <div class="col lesson">
      <ul>
        <li><a href="XXXXXXXX" target="_blank">YYYYYYYYYY</a>
      </ul>
    </div>  
    <br style="clear:both;"/>
  </div> -->
<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      html:true
    });   
});
</script> -->
<script>
var originalLeave = $.fn.popover.Constructor.prototype.leave;
$.fn.popover.Constructor.prototype.leave = function(obj){
  var self = obj instanceof this.constructor ?
    obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
  var container, timeout;

  originalLeave.call(this, obj);

  if(obj.currentTarget) {
    container = $(obj.currentTarget).siblings('.popover')
    timeout = self.timeout;
    container.one('mouseenter', function(){
      //We entered the actual popover – call off the dogs
      clearTimeout(timeout);
      //Let's monitor popover content instead
      container.one('mouseleave', function(){
        $.fn.popover.Constructor.prototype.leave.call(self, self);
      });
    })
  }
};


$('body').popover({ selector: '[data-popover]', trigger: 'click hover', html: 'true', placement: 'auto', delay: {show: 50, hide: 400}});
</script>

</body>

</html>