<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Troy's Notes</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Style/styles.css">
  <link rel="stylesheet" href="/Style/troy-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="script.js"></script>

</head>

<body>

<div class='top'>
<h1><img src="http://www.veryicon.com/icon/png/System/Farm%20Fresh/star.png" alt="Oops, does not compute!">Introduction to Programming<img src="http://www.veryicon.com/icon/png/System/Farm%20Fresh/star.png" alt="Oops, does not compute!"></h1>
</div>

<div class='left' id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub'><a href='/Stage0'><span>Stage 0</span></a>
      <ul>
         <li class='has-sub'><a href='/Stage0#internet'><span>The Internet</span></a></li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
      <li class='active has-sub'><a href='/Stage1'><span>Stage 1</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a></li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
      <li class='active has-sub'><a href='/Stage2'><span>Stage 2</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a></li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
      <li class='active has-sub'><a href='/Stage3'><span>Stage 3</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a></li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
      <li class='active has-sub'><a href='/Stage4'><span>Stage 4</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a></li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
<!--   {% block troy %}
  {% endblock %} -->

  {% block content %}
  {% endblock %}
<div class=bottom>
  <h2 id="reflinks">Reference Links</h2>
  <div class= "lesson_refs" style="font-size: small">
    <div class="col-sm-3">
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/html/Reference" target="_blank">HTML Reference</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">CSS Reference</a></li>
        <li><a href="http://www.color-hex.com/" target="_blank">Color Codes</a></li>
      </ul>
    </div>  
    <div class="col-sm-3">
      <ul>
        <li><a href="http://assignments.udacity-extras.appspot.com/courses/html-css/index.html" target="blank">Udacity Sample Pages and Assets</a></li>
        <li><a href="http://www.sitepoint.com/web-foundations/vendor-specific-properties/" target="blank">Vendor-specific Properties</a></li>
        <li><a href="http://learn-2-code.appspot.com/additional_resources/#topic-1" target="_blank">Andy's Additional Resources</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="http://www.w3schools.com/bootstrap/default.asp" target="blank">Bootstrap Reference</a></li>
        <li><a href="http://validator.w3.org/#validate_by_input" target="_blank">HTML Validation</a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/#validate_by_input" target="_blank">CSS Validation</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="http://www.tutorialspoint.com/python/index.htm" target="_blank">Python Resource</a></li>
        <li><a href="https://www.udacity.com/course/viewer#!/c-none/l-300029886/e-299271807/m-299271808" target="_blank">Udacity Code Playground</a></li>
      </ul>
    </div>
    <br style="clear:both;"/>
  </div>
</div>
</div>
<!--<h2 id="refvideos">Reference Videos</h2>
  <div class="lesson">
    <div class="col lesson">
      <ul>
        <li><a href="XXXXXXXX" target="_blank">YYYYYYYYYY</a>
      </ul>
    </div>  
    <br style="clear:both;"/>
  </div> -->
<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      html:true
    });   
});
</script> -->
<script>
var originalLeave = $.fn.popover.Constructor.prototype.leave;
$.fn.popover.Constructor.prototype.leave = function(obj){
  var self = obj instanceof this.constructor ?
    obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type)
  var container, timeout;

  originalLeave.call(this, obj);

  if(obj.currentTarget) {
    container = $(obj.currentTarget).siblings('.popover')
    timeout = self.timeout;
    container.one('mouseenter', function(){
      //We entered the actual popover – call off the dogs
      clearTimeout(timeout);
      //Let's monitor popover content instead
      container.one('mouseleave', function(){
        $.fn.popover.Constructor.prototype.leave.call(self, self);
      });
    })
  }
};


$('body').popover({ selector: '[data-popover]', trigger: 'click hover', html: 'true', placement: 'auto', delay: {show: 50, hide: 400}});
</script>

</body>

</html>