Stage 4: Allow Comments (Google App Engine, Networks and Servers)
4.1: Intro to Networks
Network - a group of entities that can communicate, even though they are not all directly connected.  Think of it like Andy can talk to Amber and Amber can talk to Crystal. So if Andy wants to talk to Crystal he has to go through Amber.
Latency - The time it takes for a message to get from source to destination.  This is measured in time.
Bandwidth - The amount of info that can be transmitted per unit of time.  This is measured in Units of info/time.  AKA Mbps
Bit - the smallest unit of info.  1 or 0
Protocol - a set of rules that tell you how 2 intities can talk to each other.  Internet uses http (hypertext transfer protocol)

4.1a: Making a network
You need a way to encode and interpret messages.  The internet uses bits.
you need a way to route messages.  Internet: Routers figure out next hops.
You need rules for deciding who gets to use resources.  Internet uses best effor service.

4.2: Make the internet work for you
URL - Uniform Resource Locator - this has 3 parts:  http://www.udacity.com/xxxxx/yyyyy - http is the PROTOCOL.  www.udacity.com is the HOST. xxxxx/yyyyy is the PATH.
Query Parameters - also called "Get Parameters" - come after the PATH and are separated from the PATH by a "?".  these parameters are separated by a "&".
Fragment - a fragment is used to reference a part of the webpage you are looking at.  Fragments come after queries, if present, and are separated by a "#".
Port - ex: "http://localhost:8000/", where 8000 is the port.  The default port is 80.
Get - this is used to request a document from the server
Post - this is used to send data to the server
